<%- include('header') -%>
    <%# = Math.random()  =%><%# javascritp variables used directly in ejs %>
    <%# = content  =%> <%# "=" Renders all text including html tag as string%>
    <%# - content  -%> <%# "-" Proper renders html tag not as string%>
    <div id="root">
        <%- content  -%>
    </div>

    <%- include('footer') -%>